h1{
    font-size: 50px;
    text-align: center;
    color: red;
}
#BB{
    font-size: 35px;
    font-style: oblique;
    list-style: none;
    display: -moz-inline-grid;
}
body{
    background-image:url(UBA22.jpg);
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
}
#zoomImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-in;
}
h2,h3{
    color: aliceblue;
    font-size: 40px;
}
p{
    color: aliceblue;
    font-size: 25px;
    font: bolder;
    font-style: oblique;
}
.Pavan{

    color: aliceblue;
    font-size: 20px;
    display: inline-table;
}
.Pavan1{
    color: aliceblue;
    font-size: 20px;
    display:inline-flexbox;
}
.New{
    color: aliceblue;
    font-size: 40px;
}
